<nav mat-tab-nav-bar class="bottomNavBar">
  <a
    mat-tab-link
    routerLink="/page5"
    (click)="showTasks()"
    [active]="showTask"
    class="col-md-3"
  >
    <mat-icon>check_box</mat-icon>
  </a>
  <a
    mat-tab-link
    (click)="showCalandars()"
    [active]="showCalandar"
    routerLink="/page5"
    class="col-md-3"
  >
    <!-- <fa-layers>
      <fa-icon [icon]="fasCalendar"></fa-icon>

      <fa-layers-text
        content="{{ componentDate > 9 ? componentDate : componentDate }}"
        size="2x"
        transform="down-4"
      ></fa-layers-text>
    </fa-layers> -->

    <mat-icon>calendar_today</mat-icon>
  </a>
  <a
    mat-tab-link
    (click)="searchText()"
    [active]="search"
    routerLink="/page5"
    class="col-md-3"
  >
    <mat-icon>search</mat-icon>
  </a>

  <a
    mat-tab-link
    (click)="showProfile()"
    [active]="profile"
    routerLink="/page2"
    class="col-md-3"
  >
    <mat-icon>person</mat-icon>
  </a>
</nav>
